camelcase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="camelcaseFlow" doc:id="f92a0400-c472-4529-919d-369fe40b555a" >
		<http:listener doc:name="Listener" doc:id="1b1b8896-3022-4743-9dc3-601ecec99129" config-ref="HTTP_Listener_config" path="/camelCase"/>
		<ee:transform doc:name="Transform Message" doc:id="8e385e39-4b1c-4b8f-acfa-c4e55c88ca43" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
import modules::camcase as camcasecall
---
camcasecall::camcase(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cbbb9e12-c2d3-452d-8d57-d1c6612078a3" message="#[payload]"/>
	</flow>
</mule>
